<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <div id="pizza">
    <img src="/7-1.png" alt="Pizza!" height="100" width="100">
  </div>
  <div id="title">
    <h1>CodeClan Pizza Shop</h1>
  </div>
  <div id="pizza">
    <img src="/7-1.png" alt="Pizza!" height="100" width="100">
  </div>
</header>
<nav>
  <a href="/pizzas">View All Orders</a>
  <a href="/pizzas/new">Order a Pizza</a>
</nav>
<main>
  <%= yield %>

</main>
</body>
</html>
